.good {
    background-color: #2fa360;
}
.bad {
    background-color: red;
}

@font-face {
    font-family: 'Wickhop-handritting';
    /*src: url('../plugins/wickhop-handwritting/wickhop-handwritting.ttf'); !* IE9 Compat Modes *!*/
    /*src: url('webfont.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *!*/
    /*url('webfont.woff') format('woff'), !* Modern Browsers *!*/
    url('../plugins/wickhop-handwritting/wickhop-handwritting.ttf');  format('truetype'), /* Safari, Android, iOS */
    /*url('webfont.svg#svgFontName') format('svg'); !* Legacy iOS *!*/
}

td:first-child {
    font-weight: bold;
}